:root {
  --background-color-primary: #ffffff;
  --background-color-secondary: #212429;
}

body {
  display: block;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  width: fit-content;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid var(--background-color-secondary);
  position: fixed;
  top: 0;
  padding: 1rem 0;
  background-color: var(--background-color-primary);

  .header-button {
    border: none;
    background-color: var(--background-color-primary);

    .item-icon {
      margin: 0;
    }
  }
}

.main {
  background-color: var(--background-color-primary);
  color: var(--background-color-secondary);
  display: flex;
  flex-direction: column;
  padding: 4rem 0 3rem 0;

  .main-title {
    font-size: 32px;
    text-transform: uppercase;
    margin: 2rem;
  }

  .main-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    .main-item {
      display: block;
      margin: 0 auto;
    }

    .main-item + .main-item {
      margin-top: 3rem;
    }

    .main-item-image {
      margin: 0;
      margin: auto;
    }
    .main-item-info {
      display: flex;
      justify-content: space-around;

      .main-item-description,
      .main-item-amount {
        font-weight: 700;
        font-size: 14px;
      }
    }
  }
}

.footer {
  width: 100vw;
  height: auto;
  bottom: 0;
  background-color: var(--background-color-secondary);
  color: var(--background-color-primary);
  padding: 0 3rem;

  .footer-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

    .footer-item {
      padding: 2rem 0;
      border-bottom: 1px solid var(--background-color-primary);
      width: 100vw;
    }

    .footer-link {
      display: flex;
    }

    .footer-item-figure {
      padding: 0.75rem;
      margin: 0 1rem 0 0;
      border-radius: 50px;
      background-color: var(--background-color-primary);
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .footer-item-text {
      color: var(--background-color-primary);
      font-size: 16px;
    }
  }
}
